/*TRANSITIONS*/
.transition-3s
{
	-ms-transition: all 3s;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-o-transition: all 3s;
	transition: all 3s;
}

.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box-shadow-white
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

.absolute-max
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}
.z-six { z-index: 6;} 
.z-seven { z-index: 7;}
.z-eight { z-index: 8;}
.z-nine { z-index: 9;}
.z-ten { z-index: 10;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*BLACK SKIN*/

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black; 
	opacity: 0.7;
	z-index: 10;
}

.next-button, .start-button, .correct, .keep-thinking, .result
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 3vmin;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

/*PRE LOAD*/

#pre-load
{
	background-color: #DCDCDC;
}

#pre-load .pre-load-image
{
	background-image: url(../pics/pre-loader.png);
	background-size: auto 100%;
	background-position: 0% 0%;
	width: 0%;
	height: 100%;
	position: absolute;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	font-size: 50px;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-000
{
	background-image: url(../pics/title-bg.png);
}

/*FRAME 000*/

#frame-000
{
	background-image: url(../pics/frame-000-bg.png);
}

.menu-button
{
	width: 13%;
	height: 26%;
	position: absolute;
	border-radius: 50%;
	top: 60%;
	background-size:  100% 100%;
}

.menu-button:hover
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

.elements-button { background-image: url(../pics/elements.png); left: 30%; }
.facts-button { background-image: url(../pics/facts.png); left: 45%;}
.jeopardy-button { background-image: url(../pics/jeopardy.png); left: 60%;}

/*FRAME 101*/

#frame-101
{
	background-image: url(../pics/frame-101-bg.png);
}

#frame-101 .guys-playing-animated, #frame-101 .guys-playing, #frame-101 .firework, #frame-101 .cloud, #frame-101 .new-place
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}
#frame-101 .guys-playing-animated { background-image: url(../pics/guys-playing.gif);}
#frame-101 .guys-playing { background-image: url(../pics/guys-playing.png);}
#frame-101 .firework { background-image: url(../pics/firework.gif);}
#frame-101 .new-place { background-image: url(../pics/frame-101-new-place.png); }
#frame-101 .clock 
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	background-image: url(../pics/clock.png);
}
#frame-101 .cloud { background-image: url(../pics/frame-001-cloud.png);}

/*FRAME 102*/

#frame-102 .bg-base 
{
	background-image: url(../pics/frame-102-bg.png);
	position: absolute;
	width: 300%;
	height: 300%;
	left: -100%;
	top: -100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}


#frame-102 .bg-base-2
{
	background-image: url(../pics/frame-102-bg.png);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
}

.boys-back
{
	z-index: 3;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

.boys-back { background-image: url(../pics/boys-back.png);}

#frame-102 .boys-walking 
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	background-image: url(../pics/boys-walking-right.png);
}

/*FRAME 103*/

#frame-103
{
	background-image: url(../pics/frame-103-bg.png);
}

#frame-103 .debereiner-writing, #frame-103 .debereiner-speaking, #frame-103 .debereiner-idle
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-103 .debereiner-writing { background-image: url(../pics/debereiner-writing.gif); }
#frame-103 .debereiner-speaking { background-image: url(../pics/debereiner-speaking.gif); }
#frame-103 .debereiner-idle { background-image: url(../pics/debereiner-idle.png); }

/*FRAME 104*/

#frame-104 
{
	background-image: url(../pics/frame-103-bg.png);
}

#frame-104 .boy-asking, #frame-104 .boys-idle, 
#frame-104 .debereiner-idle, #frame-104 .debereiner-speaking,
#frame-104 .year-1829
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%; 
	position: absolute;
}
#frame-104 .boy-asking { background-image: url(../pics/boy-asking-104.gif); }
#frame-104 .boys-idle { background-image: url(../pics/boys-idle-104.png); }
#frame-104 .year-1829 { background-image: url(../pics/year-1829.png); }

#frame-104 .debereiner-idle { background-image: url(../pics/debereiner-idle-big.png)}
#frame-104 .debereiner-speaking { background-image: url(../pics/debereiner-speaking-big.gif)}


/*FRAME 105*/

#frame-105 
{
	background-image: url(../pics/frame-103-bg.png);
}

#frame-105 .task-image
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-image: url(../pics/task-image-105.png);
	background-size: 100% 100%;
}

#frame-105 input
{
	display: block;
	position: absolute;
	width: 7%;
	height: 4%;
	background-color: transparent; 
	top: 21.6%;
	font-size: 3vmin;
	color: white;
	font-family: times new roman;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	border: none;
	border-bottom: 0.2% solid black;
}

#frame-105 .na { left: 24%; }
#frame-105 .sr { left: 57%; }
#frame-105 .as { left: 90%; }

#frame-105 .ball
{
	height: 3%;
	background-size: 100% 100%;
	position: absolute;
	top: 92%;
}

#frame-105 .ball.atomic-mass { background-image: url(../pics/atomic-mass.png); width: 15%; left: 3%;}
#frame-105 .ball.below { background-image: url(../pics/below.png); width: 8%; left: 25%;}
#frame-105 .ball.above { background-image: url(../pics/above.png); width: 8%; left: 45%;}
#frame-105 .ball.average { background-image: url(../pics/average.png); width: 22%; left: 70%;}

#frame-105 .basket
{
	height: 3%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-105 .basket.atomic-mass { width: 10%; left: 12%; top: 65%;}
#frame-105 .basket.below { width: 4.5%; left: 30%; top: 73%;}
#frame-105 .basket.above { width: 5%; left: 24%; top: 73%;}
#frame-105 .basket.average { width: 23%; left: 30%; top: 69%;}

#frame-105 .check-button
{
	padding: 0.5%;
	width: 15%;
	height: 7%;
	font-family: verdana;
	font-size: 3vmin;
	position: absolute;
	text-align: center;
	left: 45%;
	top: 42%;
	color: white;
	font-weight: bold;
	border-radius: 1em;
	border: 2px solid white;
	background: #f0b7a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0b7a1 0%, #752201 0%, #8c3310 50%, #bf6e4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(0%,#752201), color-stop(50%,#8c3310), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0b7a1 0%,#752201 0%,#8c3310 50%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0b7a1 0%,#752201 0%,#8c3310 50%,#bf6e4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0b7a1 0%,#752201 0%,#8c3310 50%,#bf6e4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0b7a1 0%,#752201 0%,#8c3310 50%,#bf6e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}

#frame-105 .check-button:hover
{
	border: 2px solid black;
	color: black;
}

/*FRAME 106*/
#frame-106
{
	background-image: url(../pics/give-five.png), url(../pics/frame-103-bg.png);
}

#frame-106 .boy-mouth
{
	z-index: 3
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url(../pics/give-five-mouth.gif);
}

/*FRAME 107*/
#frame-107
{
	background-image: url(../pics/reina.png);
}

#frame-107 .boys-walking-left
{
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-image: url(../pics/boys-walking-left.png);
}

/*FRAME 108*/
#frame-108
{
	background-image: url(../pics/reina-inside.png);
}

#frame-108 .reina-idle, #frame-108 .reina-speaking,
#frame-108 .boys-idle, #frame-108 .boys-speaking,
#frame-108 .year-1865, #frame-108 .table-task,
#frame-108 .piano, #frame-108 .table-2
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}
#frame-108 .reina-idle { background-image: url(../pics/reina-idle.png); }
#frame-108 .reina-speaking { background-image: url(../pics/reina-speaking.gif); }
#frame-108 .boys-idle { background-image: url(../pics/boys-idle-108.png); }
#frame-108 .boys-speaking { background-image: url(../pics/boys-speaking-108.gif); }
#frame-108 .year-1865 { background-image: url(../pics/year-1865.png); }
#frame-108 .table-task { background-image: url(../pics/table-task.png);}

#frame-108 .piano { background-image: url(../pics/piano.png);}
#frame-108 .table-2 { background-image: url(../pics/table-2.png);}

#frame-108 .basket, #frame-108 .ball
{
	position: absolute;
	background-color: #AC7446;
	border: 1px solid white;
	color: white;
	z-index: 4;
	padding-top: 1%;
	font-family: Verdana;
	font-size: 16%;
	font-weight: bold;
	text-align: center;
}

/* line 155, ../sass/navigation.sass */
#frame-108 .basket-1 {
  left: 26.65%;
  top: 40.3%;
  width: 4.2%;
  height: 7.4%;
}

/* line 158, ../sass/navigation.sass */
#frame-108 .basket-2 {
  left: 37.2%;
  top: 40.7%;
  width: 3.8%;
  height: 7.0%;
}

/* line 161, ../sass/navigation.sass */
#frame-108 .basket-3 {
  left: 53.6%;
  top: 31.8%;
  width: 3.5%;
  height: 7.7%;
}

#frame-108 .basket-4 {
  left: 58.6%;
  top: 40.3%;
  width: 4.25%;
  height: 7.6%;
}

/* line 167, ../sass/navigation.sass */
#frame-108 .ball-1 {
  left: 32%;
  top: 71%;
  width: 4.1%;
  height: 9%;
}

/* line 170, ../sass/navigation.sass */
#frame-108 .ball-2 {
  left: 38.1%;
  top: 71%;
  width: 4.1%;
  height: 9%;
}

/* line 173, ../sass/navigation.sass */
#frame-108 .ball-3 {
  left: 44.2%;
  top: 71%;
  width: 4.1%;
  height: 9%;
}

/* line 176, ../sass/navigation.sass */
#frame-108 .ball-4 {
  left: 50.3%;
  top: 71%;
  width: 4.1%;
  height: 9%;
}

/* line 179, ../sass/navigation.sass */
#frame-108 .ball-5 {
  left: 56.4%;
  top: 71%;
  width: 4.1%;
  height: 9%;
}

#frame-108 .check-button 
{
	position: absolute;
	background-color: #5EB646;
	text-align: center;
	font-size: 30%;
	color: white;
	cursor: pointer;
	font-weight: bold;
	left: 38.05%;
	top: 86.7%;
	width: 16.65%;
	height: 6.6%;
	z-index: 4;
	font-family: Verdana;
	padding-top: 0.5%;
}

#frame-108 .check-button:hover
{
	background-color: #4B9538;
}

/*FRAME-109*/

#frame-109 { background-image: url(../pics/reina-inside.png);}
#frame-109 .hand-shake 
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/hand-shake.gif);
	background-size: 100% 100%;
}
#frame-109 .man-mouth
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/hand-shake-mouth.gif);
	background-size: 100% 100%;
	z-index: 3;
}
#frame-109 .boy-mouth
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/hand-shake-mouth-2.gif);
	background-size: 100% 100%;
	z-index: 3;
}

/*FRAME 110*/
#frame-110 .bg-base
{
	background-image: url(../pics/mendeleev-outside.png);
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
}

#frame-110 .bg-base-2
{
	background-image: url(../pics/mendeleev-outside.png);
	position: absolute;
	background-size: 100% 100%;
	width: 300%;
	height: 300%;
	left: -100%;
	top: -100%;
	-ms-transition: all 3s;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-o-transition: all 3s;
	transition: all 3s;
}

/*FRAME 111*/
#frame-111
{
	background-image: url(../pics/outside-bg-111.png);
}

#frame-111 .boys-walking-left
{
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-image: url(../pics/boys-walking-left.png);
}

/*FRAME 112*/
#frame-112
{
	background-image: url(../pics/mendeleev-inside.png);
}

#frame-112 .mendeleev-idle, #frame-112 .crowd,
#frame-112 .mendeleev-smiling, #frame-112 .mendeleev-speaking,
#frame-112 .boys-raise-hand, #frame-112 .mendeleev-table-shadow
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}

#frame-112 .mendeleev-idle { background-image: url(../pics/mendeleev-idle.gif); } 
#frame-112 .mendeleev-smiling { background-image: url(../pics/mendeleev-smiling.gif); } 
#frame-112 .mendeleev-speaking { background-image: url(../pics/mendeleev-speaking.gif); } 
#frame-112 .boys-raise-hand { background-image: url(../pics/boys-raise-hand.png); } 
#frame-112 .crowd {	background-image: url(../pics/crowd.png); }
#frame-112 .mendeleev-table-shadow { background-image: url(../pics/mendeleev-table-shadow.png);}

/*FRAME 113*/
#frame-113, #frame-113-a
{
	background-image: url(../pics/mendeleev-inside.png);
}

#frame-113 .man-mouth, #frame-113 .boy-mouth, #frame-113 .pre-tablet,
#frame-113 .tablet-showing, #frame-113 .tablet,
#frame-113 .tablet, #frame-113 .tablet-highlight,
#frame-113 .tablet-hand, #frame-113 .castle,
#frame-113 .castle-elements, #frame-113 .castle-metals,
#frame-113 .castle-non-metals, #frame-113 .castle-group-1, 
#frame-113 .castle-boys
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}

#frame-113 .pre-tablet {background-image: url(../pics/pre-tablet-speaking.png);}
#frame-113 .man-mouth {background-image: url(../pics/pre-tablet-speaking-mouth-1.gif);}
#frame-113 .boy-mouth {background-image: url(../pics/pre-tablet-speaking-mouth-2.gif);}
#frame-113 .tablet-showing {background-image: url(../pics/tablet-showing.png);}
#frame-113 .tablet {background-image: url(../pics/tablet.png);}
#frame-113 .tablet-highlight {background-image: url(../pics/tablet-highlight.gif);}
#frame-113 .tablet-hand {background-image: url(../pics/tablet-hand.png);}
#frame-113 .castle {background-image: url(../pics/castle.png);}
#frame-113 .castle-elements {background-image: url(../pics/castle-elements.png);}
#frame-113 .castle-metals {background-image: url(../pics/castle-metals.png);}
#frame-113 .castle-non-metals {background-image: url(../pics/castle-non-metals.png);}
#frame-113 .castle-group-1 {background-image: url(../pics/castle-group-1.png);}
#frame-113 .castle-boys {background-image: url(../pics/castle-boys.png);}

/*FRAME 113-a*/

#frame-113-a .task
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/);
	font-family: Verdana;
}

#frame-113-a .text 
{
	position: absolute;
	border: 3px solid #f59331;
	background-color: white;
	left: 13.75%;
	top: 10.1%;
	width: 69.05%;
	height: 50.1%;
	font-size: 40%;
	padding: 1%;
	border-radius: 10px;
	line-height: 1.5em;
}

#frame-113-a .ball
{
	position: absolute;
	font-size: 40%;
	border: 3px solid #f59331;
	background-color: white;
	padding: 1%;
	text-align: center;
	border-radius: 10px;
}

#frame-113-a .text span
{
	display: inline-block;
	width: 10em;
	height: 2em;
	border-bottom: 2px solid black;
	text-align: center;
}

#frame-113-a .check-button
{
	position: absolute;
	border-radius: 10px;
	border: 2px solid black;
	background-color: white;
	color: black;
	text-align: center;
	font-family: Verdana;
	font-size: 30%;
	padding: 1%;
	left: 78.4%;
	top: 82.6%;
	width: 19.25%;
	height: 10%;
	cursor: pointer;
}

#frame-113-a .check-button:hover
{
	background-color: black;
	color: white;
}

/* line 197, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-1 {
  left: 11.5%;
  top: 62.2%;
  width: 11.75%;
  height: 14.5%;
}

/* line 200, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-2 {
  left: 33.4%;
  top: 62.5%;
  width: 20.9%;
  height: 13.9%;
}

/* line 203, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-3 {
  left: 63.7%;
  top: 63.1%;
  width: 15.2%;
  height: 14.2%;
}

/* line 206, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-4 {
  left: 23.2%;
  top: 77.8%;
  width: 12.05%;
  height: 14.5%;
}

/* line 209, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-5 {
  left: 41.2%;
  top: 79%;
  width: 20.6%;
  height: 14.8%;
}

/* line 212, ../sass/navigation.sass */
#frame-113-a .task-2 .ball-6 {
  left: 72.1%;
  top: 79.3%;
  width: 20.45%;
  height: 14.2%;
}

/* line 188, ../sass/navigation.sass */
#frame-113-a .task-1 .ball-1 {
	left: 13.75%;
	top: 67.6%;
	width: 12.05%;
	height: 10%;
}

/* line 191, ../sass/navigation.sass */
#frame-113-a .task-1 .ball-2 {
	left: 35.5%;
	top: 67.6%;
	width: 20.15%;
	height: 10%;
}

/* line 194, ../sass/navigation.sass */
#frame-113-a .task-1 .ball-3 {
  left: 65.2%;
  top: 68.2%;
  width: 14.9%;
  height: 10%;
}

/*FRAME 114*/
#frame-114
{
	background-image: url(../pics/dark-table.png);
}

#frame-114 .dark-table-highlight
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	background-image: url(../pics/dark-table-highlight.gif);
}

#frame-114 .dark-table-highlight-2
{
	width: 100%; 
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	background-image: url(../pics/dark-table-highlight-2.gif);
}

/*FRAME 115*/
#frame-115
{
	background-image: url(../pics/mendeleev-inside.png);
}
#frame-115 .boy-mouth
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url(../pics/showing-table-mouth.gif);
	z-index: 5;
}
#frame-115 .presenting-tablet, #frame-115 .showing-table
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}
#frame-115 .presenting-tablet { background-image: url(../pics/presenting-tablet.png); }
#frame-115 .showing-table { background-image: url(../pics/showing-table.png); }

/*FRAME 116*/
#frame-116
{
	background-image: url(../pics/mendeleev-inside.png);
}

#frame-116 .giving-five
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	background-image: url(../pics/giving-five.png);
}

#frame-116 .man-mouth
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
	z-index: 3;
	background-image: url(../pics/giving-five-mouth.gif);
}

/*FACTS*/

.frame.facts
{
	background-image: url(../pics/facts-bg.png),  url(../pics/facts-bg-2.png);
	background-size: 100% 100%;
}

.facts .fact-text h5
{
	font-size: 4vmin;
}

.facts .title
{
	position: absolute;
	font-family: Verdana;
	padding-top: 2%;
	left: 10.55%;
	top: 6.7%;
	width: 76.45%;
	height: 16.2%;
	color: white;
	font-size: 50%;
	text-align: center;
}

.facts .fact-text
{
	font-family: Trebuchet MS;
	font-size: 30%;
	font-weight: bold;
	width: 66.5%;
	height: 63%;
	position: absolute;
	left: 15.5%;
	top: 25%;
	color: white;
	text-transform: uppercase;
	text-align: left;
}

#frame-202 .fact-text
{
	font-size: 23%;
}

#frame-204 .fact-text
{
	font-size: 19%;
}

.facts .fa
{
	cursor: pointer;
}

/*JEOPARDY*/

#frame-301
{
	background-image: url(../pics/jeopardy-bg.png);
}

#frame-301 .fa-home
{
	position: absolute;
	left: 5%;
	top: 90%;
	z-index: 20;
}

#frame-301 .fa-home:hover
{
	color: white;
}

#frame-301 .jeopardy-label
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/jeopardy-label.png);
	background-size: auto 100%;
}

#frame-301 .points-label
{
	width: 6%;
	height: 12%;
	left: 92%;
	top: 85%;
	background-color: black;
	border: 3px solid #F79431;
	position: absolute;
	font-family: verdana;
	font-size: 3.5vmin;
	font-weight: bold;
	padding: 1.5%;
	color: white;
}

#frame-301 .firework
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/task-firework.gif);
	background-size: auto auto;
	background-position: center;
	z-index: 3;
}

#frame-301 .task-result
{
	width: 40%;
	height: 40%;
	left: 30%;
	top: 30%;
	position: absolute;
	border: 1px solid #FF7500;
	font-family: verdana;
	font-size: 4vmin;
	padding: 6%;
	text-align: center;
	background-color: black;
	color: white;
}

#frame-301 .question {
	position: absolute;
	font-size: 30%;
	color: white;
	font-family: Verdana;
	left: 77.1%;
	top: 23.6%;
	width: 21.55%;
	height: auto%;
}

#frame-301 .task-1.question { background-image: url(../pics/question-1.png);}
#frame-301 .task-2.question { background-image: url(../pics/question-2.png);}
#frame-301 .task-3.question { background-image: url(../pics/question-3.png);}
#frame-301 .task-4.question { background-image: url(../pics/question-4.png);}
#frame-301 .task-5.question { background-image: url(../pics/question-5.png);}
#frame-301 .task-6.question { background-image: url(../pics/question-6.png);}
#frame-301 .task-7.question { background-image: url(../pics/question-7.png);}
#frame-301 .task-8.question { background-image: url(../pics/question-8.png);}

#frame-301 .answer
{
	position: absolute;
	width: 10%;
	height: 8%;
	float: left;
	top: 60%;
	padding: 0.5%;
	font-size: 30%;
	color: white;
	font-family: Verdana;
	text-align: center;
	text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black;
}

#frame-301 .textfield
{
	position: absolute;
	width: 20%;
	height: 8%;
	left: 77%;
	top: 60%;
	text-transform: lowercase;
	text-align: center;
	font-size: 3vmin;
}

#frame-301 .textfield:focus
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

#frame-301 .check-button, #frame-301 .check-basket-button
{
	position: absolute;
	width: 20%;
	height: 8%;
	left: 77%;
	top: 70%;
	border: 1px solid white;
	text-transform: uppercase;
	text-align: center;
	padding-top: 0.5%;
	color: white;
	font-size: 30%;
	font-family: verdana;
}

#frame-301 .check-button:hover, #frame-301 .check-basket-button:hover
{
	border: 2px solid black;
	background-color: #FF5E5E;
	color: black;
}

#frame-301 .wink, #frame-301 .flip
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: auto 100%;
}

#frame-301 .task-1.wink { background-image: url(../pics/na.gif);}
#frame-301 .task-1.flip { background-image: url(../pics/na-flip.png);}

#frame-301 .task-2.wink { background-image: url(../pics/c.gif);}
#frame-301 .task-2.flip { background-image: url(../pics/c-flip.png);}

#frame-301 .task-3.wink { background-image: url(../pics/ne.gif);}
#frame-301 .task-3.flip { background-image: url(../pics/ne-flip.png);}

#frame-301 .task-4.wink { background-image: url(../pics/al.gif);}
#frame-301 .task-4.flip { background-image: url(../pics/al-flip.png);}

#frame-301 .task-5.wink { background-image: url(../pics/ca.gif);}
#frame-301 .task-5.flip { background-image: url(../pics/ca-flip.png);}

#frame-301 .task-6.wink { background-image: url(../pics/p.gif);}
#frame-301 .task-6.flip { background-image: url(../pics/p-flip.png);}

#frame-301 .task-7.wink { background-image: url(../pics/ar.gif);}
#frame-301 .task-7.flip { background-image: url(../pics/ar-flip.png);}

#frame-301 .task-8.wink { background-image: url(../pics/f.gif);}
#frame-301 .task-8.flip { background-image: url(../pics/f-flip.png);}

#frame-301 .answer.true { left: 77%; }
#frame-301 .answer.false { left: 88%; }

#frame-301 .answer:hover
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

#frame-301 .element-button
{
	width: 4%; 
	height: 9.5%;
	position: absolute;
}

#frame-301 .element-button:hover
{
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
}

#frame-301 .task-1.element-button { left: 4.3%; top: 29.5%;}
#frame-301 .task-2.element-button { left: 56%; top: 20.5%;}
#frame-301 .task-3.element-button { left: 72%; top: 20.5%;}
#frame-301 .task-4.element-button { left: 52%; top: 29%;}
#frame-301 .task-5.element-button { left: 8.5%; top: 39%;}
#frame-301 .task-6.element-button { left: 60%; top: 29%;}
#frame-301 .task-7.element-button { left: 72%; top: 29.5%;}
#frame-301 .task-8.element-button { left: 68%; top: 20.5%;}

#frame-301 .touch-element
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%; 
	background-image: url(../pics/touch-element.png);
}

#frame-301 .ball
{
	width: 5%;
	height: 10%;
	background-color: black;
	position: absolute;
	color: white;
	font-family: verdana;
	font-size: 4vmin;
	text-align: center;
	padding-top: 1.2%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
	top: 50%;
	z-index: 15;
}

#frame-301 .basket
{
	width: 5%;
	height: 10%;
	border: 3px solid black;
	background-color: #5AA0F5;
	position: absolute;
	color: white;
	font-family: verdana;
	font-size: 4vmin;
	text-align: center;
	padding-top: 1.2%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-shadow: 0vmin 0vmin 5px 5px white;
	-moz-box-shadow: 0% 0% 2% 2% white;
	-o-box-shadow: 0% 0% 2% 2% white;
	-webkit-box-shadow: 0% 0% 2% 2% white;
	-ms-box-shadow: 0% 0% 2% 2% white;
	top: 70%;
	z-index: 14;
}

#frame-301 .task-7.ball-be { left: 20%;}
#frame-301 .task-7.ball-c { left: 27%;}
#frame-301 .task-7.ball-li { left: 34%;}
#frame-301 .task-7.ball-b { left: 41%;}
#frame-301 .task-7.ball-f { left: 48%;}
#frame-301 .task-7.ball-o { left: 55%;}
#frame-301 .task-7.ball-n { left: 62%;}
#frame-301 .task-7.ball-ne { left: 69%;}

#frame-301 .task-7.basket-li { left: 20%;}
#frame-301 .task-7.basket-be { left: 27%;}
#frame-301 .task-7.basket-b { left: 34%;}
#frame-301 .task-7.basket-c { left: 41%;}
#frame-301 .task-7.basket-n { left: 48%;}
#frame-301 .task-7.basket-o { left: 55%;}
#frame-301 .task-7.basket-f { left: 62%;}
#frame-301 .task-7.basket-ne { left: 69%;}

#frame-301 .task-8.ball-ar { left: 20%;}
#frame-301 .task-8.ball-k { left: 27%;}
#frame-301 .task-8.ball-s { left: 34%;}
#frame-301 .task-8.ball-o { left: 41%;}
#frame-301 .task-8.ball-se { left: 48%;}
#frame-301 .task-8.ball-na { left: 55%;}
#frame-301 .task-8.ball-li { left: 62%;}

#frame-301 .task-8.basket-li { left: 20%;}
#frame-301 .task-8.basket-na { left: 27%;}
#frame-301 .task-8.basket-k { left: 34%;}

#frame-301 .task-8.basket-s { left: 48%;}
#frame-301 .task-8.basket-o { left: 55%;}
#frame-301 .task-8.basket-se { left: 62%;}

#frame-301 .task-8.basket-ar { left: 75%;}

/*LINK*/

.facts .fa-home
{
	position: absolute;
	top: 85%;
	left: 70%;
	color: white;
	font-size: 80%;
}

.facts .fa-fast-forward
{
	position: absolute;
	top: 85%;
	left: 60%;
	color: white;
	font-size: 80%;
}

.facts .fa-fast-backward
{
	position: absolute;
	top: 85%;
	left: 50%;
	color: white;
	font-size: 80%;
}

.facts .fa:hover
{
	color: gray;
}