/* line 1, ../sass/navigation.sass */
.absolute-max, body, #main, .nav-grey-skin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

/* line 19, ../sass/navigation.sass */
.absolute, .nav {
  position: absolute;
  background-size: auto 100%;
}

/* line 24, ../sass/navigation.sass */
.z-1 {
  z-index: 1;
}

/* line 24, ../sass/navigation.sass */
.z-2 {
  z-index: 2;
}

/* line 24, ../sass/navigation.sass */
.z-3 {
  z-index: 3;
}

/* line 24, ../sass/navigation.sass */
.z-4 {
  z-index: 4;
}

/* line 24, ../sass/navigation.sass */
.z-5 {
  z-index: 5;
}

/* line 24, ../sass/navigation.sass */
.z-6 {
  z-index: 6;
}

/* line 24, ../sass/navigation.sass */
.z-7 {
  z-index: 7;
}

/* line 24, ../sass/navigation.sass */
.z-8 {
  z-index: 8;
}

/* line 24, ../sass/navigation.sass */
.z-9 {
  z-index: 9;
}

/* line 24, ../sass/navigation.sass */
.z-10 {
  z-index: 10;
}

/* line 24, ../sass/navigation.sass */
.z-11, .nav, .nav-grey-skin {
  z-index: 11;
}

/* line 24, ../sass/navigation.sass */
.z-12, .nav-home {
  z-index: 12;
}

/* line 24, ../sass/navigation.sass */
.z-13 {
  z-index: 13;
}

/* line 24, ../sass/navigation.sass */
.z-14 {
  z-index: 14;
}

/* line 24, ../sass/navigation.sass */
.z-15 {
  z-index: 15;
}

/* line 24, ../sass/navigation.sass */
.z-16 {
  z-index: 16;
}

/* line 24, ../sass/navigation.sass */
.z-17 {
  z-index: 17;
}

/* line 24, ../sass/navigation.sass */
.z-18 {
  z-index: 18;
}

/* line 24, ../sass/navigation.sass */
.z-19 {
  z-index: 19;
}

/* line 24, ../sass/navigation.sass */
.z-20 {
  z-index: 20;
}

/* line 27, ../sass/navigation.sass */
.transition-0-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* line 35, ../sass/navigation.sass */
.transition-1s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-2s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-3s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-4s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-5s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-6s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-7s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-8s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-9s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-10s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 42, ../sass/navigation.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 51, ../sass/navigation.sass */
body {
  margin: 0%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 62, ../sass/navigation.sass */
.nav-grey-skin {
  background-color: white;
  opacity: 0.5;
}

/* line 68, ../sass/navigation.sass */
.nav {
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 50%;
  padding: 1%;
  border: 2px solid white;
}

/* line 79, ../sass/navigation.sass */
.nav:hover {
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
}

/* line 84, ../sass/navigation.sass */
.nav-home {
  left: 46.05%;
  top: 39.8%;
  width: 7.85%;
  height: 15.7%;
  font-size: 100%;
  padding: 1%;
}

/* line 90, ../sass/navigation.sass */
.nav-ff {
  left: 55.25%;
  top: 56.7%;
  width: 5%;
  height: 10%;
}

/* line 93, ../sass/navigation.sass */
.nav-fb {
  left: 40%;
  top: 56.9%;
  width: 5%;
  height: 10%;
}

/* line 96, ../sass/navigation.sass */
.nav-repeat {
  left: 37.2%;
  top: 43.2%;
  width: 5%;
  height: 10%;
}

/* line 99, ../sass/navigation.sass */
.nav-sound {
  left: 58.05%;
  top: 43.2%;
  width: 5%;
  height: 10%;
}

/* line 102, ../sass/navigation.sass */
.nav-list {
  left: 55.25%;
  top: 28.4%;
  width: 5%;
  height: 10%;
}

/* line 105, ../sass/navigation.sass */
.nav-help {
  left: 40%;
  top: 28.4%;
  width: 5%;
  height: 10%;
}

/* line 114, ../sass/navigation.sass */
.nav-play {
  left: 47.5%;
  top: 63.7%;
  width: 5%;
  height: 10%;
}

/* line 108, ../sass/navigation.sass */
.nav-launcher, .nav-close {
  left: 93.9%;
  top: 1.4%;
  width: 5%;
  height: 10%;
}

/* line 111, ../sass/navigation.sass */
.nav-center {
  left: 47.5%;
  top: 42.4%;
  width: 5%;
  height: 10%;
}
